# Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.<br>
**'hello'** is the same as **"hello"**.

In [6]:
x = "Python is awesome"
print(x)

Python is awesome

#### String concatenation
String can be concatenated with only another strings.

In [8]:
# String Concatenation
x = "Python"
y = "is"
z = "awesome"
a = x + " " + y + " " + z
print(a)

Python is awesome

#### Multiline Strings
You can assign a multiline string to a variable by using **three quotes**:

In [6]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

#### String Indexing

In [7]:
x = "Hello"
print(x[0])
print(x[1])
print(x[-1])

H
e
o

#### Slicing

In [10]:
b = "Hello, World!"
print(b[2:5])

llo

In [11]:
b = "Hello, World!"
print(b[:5])  # from starting

Hello

In [12]:
b = "Hello, World!"
print(b[7:])  # till end

World!

In [13]:
b = "Hello, World!"
print(b[-7:-2])  # negative indexing

 Worl

In [14]:
b = "Hello, World!"
print(b[::2])  # using steps

Hlo ol!

#### String Length

In [16]:
a = "Hello, World!"
print(len(a))

13

#### Looping Through a String

In [17]:
for x in "banana":
    print(x)

b
a
n
a
n
a

### Format - Strings

#### string.format() method

In [24]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [25]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [26]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

#### F Strings method

In [27]:
quantity = 3
itemno = 567
price = 49.95
myorder = f"I want {quantity} pieces of item {itemno} for {price} dollars."
print(myorder)

I want 3 pieces of item 567 for 49.95 dollars.

#### Formated Strings
Use "**%**" charachter

### Python - Escape Characters
#### Escape Character
- To insert characters that are illegal in a string, use an escape character.
- An escape character is a backslash "**\**" followed by the character you want to insert.

In [28]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [29]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [30]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

#### New Line (\n)

In [31]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

#### Carriage Return (\r)

In [32]:
txt = "Hello\rWorld!"
print(txt)

World!

#### Tab (\t)

In [33]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

#### Backspace (\b)

In [34]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

Hello World!

#### Octal value (\ooo)

In [35]:
txt = "\110\145\154\154\157"
print(txt)

Hello

#### Hex value (\xhh)

In [36]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

### Methods to Modify Strings
- casefold()	Converts string into lower case
- center()	Returns a centered string
- count()	Returns the number of times a specified value occurs in a string
- encode()	Returns an encoded version of the string
- endswith()	Returns true if the string ends with the specified value
- expandtabs()	Sets the tab size of the string
- find()	Searches the string for a specified value and returns the position of where it was found
- format()	Formats specified values in a string
- format_map()	Formats specified values in a string
- index()	Searches the string for a specified value and returns the position of where it was found
- isalnum()	Returns True if all characters in the string are alphanumeric
- isalpha()	Returns True if all characters in the string are in the alphabet
- isdecimal()	Returns True if all characters in the string are decimals
- isdigit()	Returns True if all characters in the string are digits
- isidentifier()	Returns True if the string is an identifier
- islower()	Returns True if all characters in the string are lower case
- isnumeric()	Returns True if all characters in the string are numeric
- isprintable()	Returns True if all characters in the string are printable
- isspace()	Returns True if all characters in the string are whitespaces
- istitle()	Returns True if the string follows the rules of a title
- isupper()	Returns True if all characters in the string are upper case
- join()	Joins the elements of an iterable to the end of the string
- ljust()	Returns a left justified version of the string
- maketrans()	Returns a translation table to be used in translations
- partition()	Returns a tuple where the string is parted into three parts
- rfind()	Searches the string for a specified value and returns the last position of where it was found
- rindex()	Searches the string for a specified value and returns the last position of where it was found
- rjust()	Returns a right justified version of the string
- rpartition()	Returns a tuple where the string is parted into three parts
- rsplit()	Splits the string at the specified separator, and returns a list
- startswith()	Returns true if the string starts with the specified value
- translate()	Returns a translated string
- zfill()	Fills the string with a specified number of 0 values at the beginning

#### Upper Case
- upper() - converts a string into upper case

In [18]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

#### Lower Case
- lower() - converts a string into lower case

In [19]:
a = "Hello, World!"
print(a.lower())

hello, world!

#### Capitalize
- capitalize() - Converts the first character to upper case

In [7]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

Hello, and welcome to my world.

#### Title Case
- title() - Converts the first character of each word to upper case

In [8]:
txt = "Welcome to my world"
x = txt.title()
print(x)

Welcome To My World

#### Swaping Case
- swapcase() - Swaps cases, lower case becomes upper case and vice versa

In [9]:
txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

hELLO mY nAME iS peter

#### Replace String
- replace() - Returns a string where a specified value is replaced with a specified value

In [22]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

#### Remove Whitespace/ Specified Characters
- lstrip() - Returns a left trim version of the string
- rstrip() - Returns a right trim version of the string
- strip() - Returns a trimmed version of the string

In [1]:
a = " Hello, World! "
print(a.lstrip())  # From left side only
print(a.rstrip())  # From right side only
print(a.strip())  # From both side

Hello, World!
 Hello, World!
Hello, World!

In [21]:
a = "mississippi"
print(a.lstrip('mip'))
print(a.rstrip('mip'))
print(a.strip('mip'))

ssissippi
mississ
ssiss

#### Split String
- split() - Splits the string at the specified separator, and returns a list

In [23]:
a = "Hello, World!"
print(a.split(','))

['Hello', ' World!']

- splitlines() - Splits the string at line breaks and returns a list

In [5]:
txt = "Thank you \rfor the music\nWelcome to \r\nthe jungle"
x = txt.splitlines()
print(x)

['Thank you ', 'for the music', 'Welcome to ', 'the jungle']